.addSongButton {
  color: #0A72CC;
  border: 1px solid #0A72CC;
  margin: 20px 20px 5px 20px;
  padding: 12px 5px 8px 38px;
  float: left;
  width: 170px;
}

.addSongButton:hover {
  background-color: rgba(99,99,99,0.30);
  color: white;
  cursor: pointer;
}

.sidebar-wrapper {
    z-index: 1000;
    opacity: 0.95;
    position: fixed;
    left: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 10px 14px 28px rgba(0,0,0,0.50),
                0 10px 10px rgba(0,0,0,0.50);
}

.songsWrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 78%;
    clear: left;
}

::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-thumb {
    width: 10px;
    color: #000;
    background: #fff;
}

.logo {
    float: left;
    height: 50px;
    padding: 9px 15px;
    font-size: 18px;
    line-height: 30px;
}

.selectedSong {
  float: left;
  width: 192px;
  padding: 8px 5px;
  color: #0A72CC;
  background: #262626;
  opacity: 0.95;
  cursor: pointer;
}

.songList {
  float: left;
  width: 192px;
  padding: 8px 5px;
  color: #0A72CC;
  cursor: pointer;
}

.songList:hover {
  background-color: rgba(99,99,99,0.30);
}

.wrapper-toggled {
    left: 250px;
    width: 250px;
}

.wrapper-notoggled {
    left: 40px;
    width: 250px;
}

.toggleButton {
  margin-left: 250px;
  position: absolute;
  left: 0px;
}

.toggleButton2 {
  float: right;
  width: 40px;
  font-size: 30px;
  opacity: 1;
  color: #fff;
  margin-top: 10px;
  padding-left: 3px;
  height: 100%;
  border-left: 1px solid #222;
  cursor: pointer;
}

.playlistTitle {
  float: left;
  padding: 8px 5px;
  color: #0A72CC;
  width: 192px;
}

input {
  float:left;
  background-color: #000;
  border: 0px solid #000;
  outline: none;
  font-size: 20px;
  width: 180px;
}

input[type=text]:focus {
  border-bottom: 1px solid #fff;

}

.navbar {
  margin-bottom: 0px;
}

.videoHolder {
  margin: 0px;
  padding: 0px;
  height: 97.3%;
  width: 100%;
  position: absolute;
  top: 26px;
  left: 0px;
  z-index: -99;
  overflow: hidden;
}

iframe {
  overflow: hidden;
}
